*{
    margin: 0;
    font-family: Arial,;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size:  cover;
    height:50px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/**box2*/
.add-1{
    color: rgb(235, 228, 228);
    font-size: 1rem;
    margin-left:15px ;

}
.add-2{
  color: white;
  margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**search-box*/
.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: navajowhite;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(253, 141, 13);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.navsearch:hover{
    border: 2px solid orange;
}
/*box-4*/
span{
    font-size: 0.7rem;
}
.nav-22{
    font-size: 0.85rem;
    font-weight: 700;
}
/**box-6*/
.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**2-NAVBAAR*/

.panel{
    height: 40px;
    background-color: rgb(22, 20, 20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    


}
.panel-ops p{
    display: inline;
    margin-left: 14px;


}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero-section_*/
.hero{
    background-image: url(https://m.media-amazon.com/images/I/81VSnmaQqlL._SX3000_.jpg);
    height: 360px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero-massage{
    display: flex;
    height: 30px;
    width: 80%;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
    
}
.hero-massage a{
    color: #007185;
}
/*shop section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6;

}
.box{
    width: 23%;
    height: 400px;
    
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.hover:hover{
    border: 3px solid white;
}
  /*slop-img*/
  .img-slop{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    background-color: #dde0e0;
    margin: 2%;
  }
   .slop-img{
    height: 200px;
    width: 13%;
    
    justify-content: space-evenly;
    
    

  }
  .slop-img img{
    height: 200px;
    width:100%;
  }
  .slop-img:hover{
    border:5px solid#8d8787;
    border-radius: 9px;
  }
  /*back-to-top-butn*/
 
  .butn button{
    width: 100%;
    height: 50px;
    background-color: #1e1f1f;
    cursor: pointer;
  }
  .butn a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  }
 /*footer*/
 .footer-container{
    display: flex;
    gap: 50px;
    width: 97%;
    padding-left: 3%;
    background-color: #1e1f1f;
    heigh
    
    
    
    
    
    
}
.footer-items h4{
    margin-left: 22%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: larger;
    color: #e2e7e6;
    margin-top: 3%;
}
.footer-items li{
    list-style: none;
}
.footer-container a{
    color: rgb(247, 242, 242);
    font-size: 13px;
    text-decoration: none;
}
.footer-logo{
    background-color: #1e1f1f;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.foter-logo{
    background-image: url(amazon_logo.png);
    height:50px;
    width: 100px;
    background-size: cover;
}
.foter-logo:hover{
    border: 2px solid white;
}

